<div  class="ContainerCoollabora">
    <div>
        <div class="margin-bottom">
            <img src="../../assets/collabora.jpg" alt="">
            <div >
                <h2>LabForDelivery per Aziente</h2>
                <p>Clienti o colleghi affamati? il nostro team Corporate ti può aiutare.</p>
                <button mat-raised-button style="background-color: #3ba4bc;">Contattaci</button>
            </div>
        </div>
        <div>
            <div>
                <h2>Lavora Con Noi</h2>
                <p>Scopri come poter far parte del nostro Team</p>
                <button mat-raised-button style="background-color: #f4a641;" mat-raised-button>Scopri di più</button>
            </div>
            <img src="../../assets/lavoraconnoi.jpg" alt="">
        </div>
    </div>
    
</div>
