<footer>
  <div>
    <h3>Seguici anche su</h3>
    <div > <button
      mat-button
      class="example-icon favorite-icon fontIcon"
      aria-label="Example icon-button with heart icon"
    >
      2
    </button>
    <button
      mat-button
      class="example-icon fontIcon"
      aria-label="Example icon-button with share icon"
    >
      1
    </button> <button
    mat-button
    class="example-icon favorite-icon fontIcon"
    aria-label="Example icon-button with heart icon"
  >
    3
  </button>
  <button
    mat-button
    class="example-icon fontIcon"
    aria-label="Example icon-button with share icon"
  >
    4
  </button>
    </div>
  </div>
  <div class="fontIconDiv">
      <button
          mat-button
          class="example-icon favorite-icon fontIcon"
          aria-label="Example icon-button with heart icon"
        >
          x
        </button>
        <button
          mat-button
          class="example-icon fontIcon"
          aria-label="Example icon-button with share icon"
        >
          y
        </button>
        
  
  <p>© Copyright Lab for Dood - Delivery - Arianna Vico - Tel: +39 334.12.72.091 - arianna.vico@hotmail.it</p>
  <button
  mat-button
  class="example-icon fontIcon"
  aria-label="Example icon-button with share icon"
>
  9
</button>
<button
  mat-button
  class="example-icon fontIcon"
  aria-label="Example icon-button with share icon"
>
  0
</button>
</div>
</footer>
